body.thim-child-instructor{
	.thim-buttons{
		width: 73px;
		height: 73px;
		line-height: 73px !important;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
		border-radius: 50%;

		background: #ebc134;
		text-align: center;

		i{
			font-size: 30px;
		}
	}
}